---
import { SITE, NAV } from "../consts";
import ThemeToggle from "./ThemeToggle.astro";
---

<header>
  <div class="nav-left">
    <a class="logo" href="/" data-cursor>{SITE.author}</a>
    <nav>
      <ul>
        {NAV.map((n) => (
          <li><a href={n.href}>{n.label}</a></li>
        ))}
      </ul>
    </nav>
  </div>
  <ThemeToggle />
</header>
